---
const today = new Date();
---
<!--Footed edited -->
<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Harshan S L. All rights reserved.
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/Harshan-SL/" target="_blank" class="font-bold">Harshan</a>
  </div>
</footer>
<style></style>
